name: Editor Builds
on:
  - push
  - pull_request

jobs:
  build_vscode_extension:
    runs-on: ubuntu-latest
    name: Build VsCode Extension
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: yarn
        working-directory: Hdl21SchematicEditor/
      - name: Build & Package VsCode Extension
        run: yarn package
        working-directory: Hdl21SchematicEditor/packages/VsCodePlugin/

  build_app:
    name: Build App
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: yarn
        working-directory: Hdl21SchematicEditor/
      - name: Make App
        run: yarn make
        working-directory: Hdl21SchematicEditor/packages/EditorApp/
    continue-on-error: ${{ matrix.os == 'ubuntu-latest' }}
    # FIXME: haven't sorted this out on Linux, yet

  python_importer_tests:
    name: Python Importer Test Suite
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # Adapted from the very helpful article at https://jacobian.org/til/github-actions-poetry/
      - name: Set up Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.1.12
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Install Dependencies
        run: poetry install --no-interaction
        working-directory: Hdl21SchematicImporter/
      - name: PyTest
        run: poetry run pytest --verbose
        working-directory: Hdl21SchematicImporter/
